@model List<ResultProductWithCategoryDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="container-fluid">
    <div class="alert alert-primary">
        <h6>Product List</h6>
    </div>
    <table class="table table-hover">
        <tr>
            <th>Number Of Product</th>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Category Name</th>
            <th>Category Description</th>
            <th>Image Id</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        @foreach (var item in Model)    
        {
            <tr>
                <td><b>@(Model.IndexOf(item) + 1)</b></td>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td><span></span>@item.Price.ToString("C2")</td>
                <td>@item.StockQuantity</td>
                <td>@item.CategoryName</td>
                <td>@item.CategoryDescription</td>
                <td>@if (item.ImageIds.Any())
                    {
                        foreach (var image in item.ImageIds)
                        {
                            <p>@image</p>
                        }
                    }
                 </td>
                <td> <a href="/Product/DeleteProduct/@item.Id" class="btn  btn-outline-danger">Delete</a></td>
                <td> <a href="/Product/UpdateProduct/@item.Id" class="btn  btn-outline-success">Update</a></td>
            </tr>
        }
    </table>
    <a href="/Product/CreateProduct" class="btn  btn-outline-success">Create New Product</a>
    <a href="/Product/DownloadPdf" class="btn btn-outline-secondary">Download PDF</a>
    <a href="/Product/DownloadExcel" class="btn btn-outline-warning">Download Excel</a>
</div>
