@model List<ResultProductWithCategoryDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<!DOCTYPE html>
<div class="container-fluid">
    <br />
    <div class="alert alert-primary">
        <h4>Product List</h4>
    </div>
    <br />
    <table class="table table-hover">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Category Name</th>
            <th>Category Description</th>
            <th>Image Id</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        @foreach (var item in Model)    
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td><span></span>@item.Price.ToString("C2")</td>
                <td>@item.StockQuantity</td>
                <td>@item.CategoryName</td>
                <td>@item.CategoryDescription</td>
                <td>@if (item.ImageIds.Any())
                    {
                        foreach (var image in item.ImageIds)
                        {
                            <p>@image</p>
                        }
                    }
                 </td>
                <td> <a href="/Product/DeleteProduct/@item.Id" class="btn  btn-danger">Delete</a></td>
                <td> <a href="/Product/UpdateProduct/@item.Id" class="btn  btn-success">Update</a></td>
            </tr>
        }
    </table>
    <a href="/Product/CreateProduct" class="btn  btn-success">New Product</a>
</div>
