@model List<ResultProductWithCategoryDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
    int count = 0;
    string classActivated = "";
    var cartQuantities = ViewBag.CartQuantities as Dictionary<string, int>;
}
<div class="container-fluid mt-1">
    <div class="row">
        @foreach (var item in Model)
        {
            var isInCart = cartQuantities != null && cartQuantities.ContainsKey(item.Id) && cartQuantities[item.Id] > 0;
            var cartQuantity = isInCart ? cartQuantities[item.Id] : 0;
            <div class="col-md-3 mb-2">
                <div class="card h-100 d-flex flex-column">
                    <div class="row g-0 flex-grow-1">
                        <div class="col-md-4 p-3">
                            <div id="carouselExample@item.Id" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    @foreach (var image in item.ImageUrls)
                                    {
                                        count++;
                                        if (count == 1)
                                        {
                                            classActivated = "carousel-item active";
                                        }
                                        else
                                        {
                                            classActivated = "carousel-item";
                                        }
                                        <div class="@classActivated">
                                            <img src="@image" class="d-block w-100 img-fluid mt-4" style="width:100%; height: auto; max-height: 300px; object-fit: cover; border-radius: 5px;" alt="...">
                                        </div>
                                    }
                                    @{
                                        count = 0;
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body flex-grow-1">
                                <div>
                                    <h5 class="card-title">@item.Name</h5>
                                    <p class="card-text"><strong>Price:</strong> @item.Price.ToString("C2")</p>
                                    <p class="card-text"><strong>Category:</strong> @item.CategoryName</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="background-color:white; padding: 10px;">
                        <div class="d-flex align-items-center" role="group" aria-label="Basic mixed styles example">
                            @if (isInCart)
                            {
                                <div class="d-flex align-items-center">
                                    <form asp-action="UpdateOrDeleteQuantity" method="post" style="display:inline;">
                                        <input type="hidden" name="productId" value="@item.Id" />
                                        <input type="hidden" name="change" value="-1" />
                                        <button type="submit" class="btn btn-sm btn-outline-danger" 
                                        style="border-top-right-radius: 0; border-bottom-right-radius: 0; height: 38px;">-</button>
                                    </form>
                                    <input type="number" class="form-control form-control-sm" value="@cartQuantity" min="1" step="1" readonly style="width: 60px; text-align: center; border-radius: 0; height: 38px;" />
                                    <form asp-action="UpdateQuantity" method="post" style="display:inline;">
                                        <input type="hidden" name="productId" value="@item.Id" />
                                        <input type="hidden" name="change" value="1" />
                                        <button type="submit" class="btn btn-sm btn-outline-success" 
                                        style="border-top-left-radius: 0; border-bottom-left-radius: 0; height: 38px;" 
                                        @(cartQuantity >= item.StockQuantity ? "disabled" : "")>+</button>
                                    </form>
                                </div>
                            }
                            else
                            {
                                <div class="d-flex align-items-center">
                                    <form asp-controller="Cart" asp-action="AddToCart" method="post" style="display: inline;">
                                        <input type="hidden" name="ProductId" value="@item.Id" /> <!-- Hidden field for product Id -->
                                        <input type="hidden" name="quantity" value="1" /> <!-- Default quantity -->
                                        <button type="submit" class="btn btn-outline-success" style="margin-right: 5px; height: 38px;"
                                        @(item.StockQuantity == 0 ? "disabled" : "")>
                                        @(item.StockQuantity == 0 ? "Out of Stock" : "Add to Cart")
                                        </button>
                                    </form>
                                </div>
                            }
                            <a href="/Home/Index/@item.Id" class="btn btn-outline-primary" style="margin-left: 5px; height: 38px;">Add to Favorite</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
