@model List<ResultCustomerDto>
@{
    //ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="container-fluid">
    <div class="alert alert-primary">
        <h6>Customer List</h6>
    </div>
    <table class="table table-hover">
        <tr>
            <th>Number Of Customer</th>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td><b>@(Model.IndexOf(item) + 1)</b></td>
                <td>@item.Id</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>@item.Address</td>
                <td> <a href="/Customer/DeleteCustomer/@item.Id" class="btn  btn-outline-danger">Delete</a></td>
                <td> <a href="/Customer/UpdateCustomer/@item.Id" class="btn  btn-outline-success">Update</a></td>
            </tr>
        }
    </table>
    <a href="/Customer/CreateCustomer" class="btn  btn-outline-success">Create New Customer</a>
    <a href="/Customer/DownloadPdf" class="btn btn-outline-secondary">Download PDF</a>
    <a href="/Customer/DownloadExcel" class="btn btn-outline-warning">Download Excel</a>

</div>

